name: Frontend Continuous Integration
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Running Frontend Linting and Tests..."
  build:
    needs: lint-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Frontend Docker Image
        run: |
          cd frontend
          docker build -t frontend-app:latest .